{
  "jsc": {
    "target": "es2021",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false
    },
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": false
    },
    "keepClassNames": true
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "minify": false
}
